<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Todo List</title>
    <style>
        table { border: 3px solid #000000; border-collapse: collapse; }
        table th, table td { border: 1px solid black; }
    </style>
</head>
<body>
    <div>
        <form id="user-form">
            <fieldset>
                <legend>회원 등록</legend>
                <div><input id="email" type="text" placeholder="이메일"></div>
                <div><input id="age" type="number" placeholder="나이"></div>
                <div><input id="username" type="text" placeholder="이름"></div>
                <button type="submit">등록</button>
            </fieldset>
        </form>
    </div>
<br>
    <table id="user-list">
        <thead>
        <tr>
            <th>USER ID</th>
            <th>USER EMAIL</th>
            <th>AGE</th>
            <th>NAME</th>
            <th>EDITOR</th>
            <th>TODO RETRIEVE</th>
        </tr>
        </thead>
        <tbody></tbody>
    </table>

<br>
<div>
    <form id="comment-form">
        <fieldset>
            <legend>Todo 등록</legend>
            <div><input id="userid" type="text" placeholder="사용자 아이디"></div>
            <div><input id="content" type="text" placeholder="할 일"></div>
            <div><input id="isCompleted" type="checkbox"><label for="isCompleted">완료</label></div>
            <button type="submit">등록</button>
        </fieldset>
    </form>
</div>
<br>
<table id="comment-list">
    <thead>
    <tr>
        <th>Todo ID</th>
        <th>회원 이메일</th>
        <th>회원 이름</th>
        <th>할 일</th>
        <th>완료</th>
        <th>수정</th>
        <th>삭제</th>
    </tr>
    </thead>
    <tbody></tbody>
</table>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/sequelize.js"></script>
</body>
</html>
